@charset "utf-8";
html{
	margin: 0;
	width: 100vw;
}
body{
	margin: 0;
	width: 100vw;
	background: url('src/images/AdobeStock_306547421.jpeg');
	background-size: auto 100vw;
	background-position-x: center;
}
header{
	margin: 0;
	width: auto;
	height: 70px;
}
footer{
	background-color: rgb(97, 193, 228);
	width: 100vw;
	height: auto;
}
/* video{
position: fixed; right: 0; bottom: 0;
    min-width: 100%; min-height: 100%;
    width: auto; height: auto; z-index: -100;
} */


#MenuBar {
	overflow: hidden;
	height: auto;
	margin: 0;
	background-color: #f1f1f1;
}

#MenuBar_List{
	list-style-type: none;
	width: 100vw;
	height: auto;
	margin: 0;
  	padding: 0;
	display: block;
}

img.MenuBar_Icon{
	vertical-align:baseline;
	height: 30px;
	width:30px;
}
li.MenuBar_Button{
	list-style-type: none;
	margin: 0;
	padding: 0px 5px;
	width: 180px;
	height:70px; 
	background-color: #f1f1f1;
	float: left;
}

li.MenuBar_Button a{
	display: block;
	color: #000;
	height: inherit;
	padding: 0;
	font-size: 40px;
	font-family: "Segoe Print";
	text-align: center;
}

li.MenuBar_Button a:hover{
	background-color: #555;
	filter: invert(100%);
	
}

div.footer_div{
	padding: 10px;
	float: left;
	display: block;
	height: inherit;
	width: auto;
}

div.tile{
	background-color: white;
	height: 100px;
	width: 160px;
	border: 3px solid rgba(233, 233, 233, 0.795);
}

div.tile:hover{
	background-color: rgba(233, 233, 233, 0.795);
}

.footer_nav{
	display: flex;
}

.shiftEffect{
	height: 100px;
	width: 160px;
	transition: .5s ease-in;
}

.shiftEffect:hover{
	box-shadow: 
	1px 1px #000000,
	2px 2px #000000,
	3px 3px #000000,
	4px 4px #000000,
	5px 5px #000000;
	-webkit-transform: translate(-5px,-5px);
	transform: translate(-5px,-5px);
	transition: .3s ease;
}

